.wrapper {
  width: 500px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.translate-box {
  background-color: aqua;
  /* transform: translate(-50%, 10px); */
  /* transform: translateX(80px); */
  /* transform: translateY(30px); */
  /* transform: translateX(80px) translateY(30px); */
  /* transform: translateY(30px) translateX(30px); */
}

.rotate-box {
  background-color: blueviolet;
  transform: rotate(0deg);
  /* transform: rotateY(10deg); */
  /* transform: rotateX(10deg); */
  /* transform: rotateZ(10deg); */
  transform-origin: left top;
}

.scale-box {
  background-color: darkorange;
  transform: scale(1);
}

.skew-box {
  background-color: greenyellow;
  transform: skew(0deg, 0deg);
  /* transform: skewX(20deg); */
}
